@media only screen and (max-width: 600px){
.banner {
        background-color: rgb(83, 35, 7);
        width: 30rem;
        display: flex;
        height: 16em;
  margin-top: 5%;        
    margin-left: 6%;
        border-radius: 15px;
        opacity: 0.7;
    }

    .banner-desc {
        
display: flex;
flex-direction: column;
justify-content: space-around;
margin-left: 10%;
color: white;

  

    }

  

    .banner-pic {
        width: 14em;
        height: 16em;
        border-radius: 20px;

    }
a{
    text-decoration: none;
}
    .banner-link{
  
     background-color: rgb(116, 42, 9);
     color: white;
     font-size: 15px;
     align-items: center;
        border-radius: 20px;
        margin-bottom: 5%;
        border: solid white 2px;
        width: 7rem;
        height: 3rem;
        padding: 2%;
    margin-left: 50%;
    }
.heading {
    text-transform: capitalize;
    text-decoration: underline;

}
    .desc {



        font-size: 0.9em;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
 line-break:strict;
  padding-top:0.7em;
  line-height: 1.2rem;
        width: 90%;
    }

}