<mat-card class="banner">

   
   <img mat-card-image src="assets\banner_pic.jpg" class="banner-pic">
   
   <div class="banner-desc">
   <mat-card-title class="heading"> attack on titan</mat-card-title>

   <mat-card-content class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate animi, illo nisi nemo recusandae quidem quia natus ullam perferendis. Quia, commodi dicta. Reiciendis aperiam numqua.</mat-card-content>
<button class="banner-link">click</button>

</div>
   
<mat-card-footer><mat-progress-bar style="position: relative;" mode="indeterminate"></mat-progress-bar>

</mat-card-footer>
</mat-card>